<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%- title %></h1>
    <h3>By: <%= username %></h3>
    <p>Created: <%= created %></p>
    <p>Modified: <%= modified %></p>
    <p>Post ID: <%= postid %></p>
    <p><%- body %></p>
  </body>
</html>